// footer

.footer {
  min-height: 250px;
  width: 100%;
  padding: 20px 0;
  background-color: #222;
  color: #fff;
  text-align: center;
}

// socials link

.social-links {
  list-style: none;
  li {
    display: inline-block;
    margin: 5px;
  }

  a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, .2);
  }

  a:hover {
    border: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .8);
  }
}

// scroll to top

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;

  a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
  }

  a:hover, a:active {
    background-color: rgba(235, 235, 235, .8);
    color: $accent;
  }
}




