.section-hero {
  height: 100%;
  min-height: 650px;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 81px;
}

.preview {
  padding-top: 20px;
}

//если bg картинкой
//height: 100vh
//min-height: 500px
//background-size: cover
//background-position: 50% 100%
//background-repeat: no-repeat